<!-- Ensure there is @company object present -->
<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="/">Inico</a>
    </li>
    <% if current_user.email == "admin@transwiz.com" %>
        <li class="sidebar-brand">
            <a href="/companies">Empresas</a>
        </li>
    <% end %>
    <li>
        <%= link_to 'Panel principal', company_path(@company) %>
    </li>
    <li>
        <%= link_to 'Envíos', company_shipments_path(@company) %>
    </li>
    <li>
        <%= link_to 'Clientes', company_clients_path(@company) %>
    </li>
    <li>
        <%= link_to 'Empleados', company_employees_path(@company) %>
    </li>
    <li>
        <%= link_to 'Transportistas', company_drivers_path(@company) %>
    </li>
    <li>
        <%= link_to 'Telegram', "https://web.telegram.org/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to 'Life360', "https://www.life360.com/", :target => "_blank" %>
    </li>
    <li>
        <%= link_to 'Help', help_company_path(@company) %>
    </li>
    <li>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    </li>
</ul>