<%= form_for([@company,@driver]) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Proporcionar detalles de nuevo transportista
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="form-group">
                <label>Nombre</label>
                <%= f.text_field :First_Name, class: "form-control" %>
              </div>
              <div class="form-group">
                <label>Apellidos</label>
                <%= f.text_field :Last_Name, class: "form-control" %>
              </div>
              <div class="form-group">
                <label>Teléfono</label>
                <%= f.number_field :Telephone, class: "form-control" %>
              </div>
              <div class="form-group">
                <label>E-mail</label>
                <%= f.text_field :Email, class: "form-control" %>
              </div>
              <div class="form-group">
                <label>Matrícula</label>
                <%= f.text_field :Truck_No, class: "form-control" %>
              </div>
              <div class="form-group">
                <label>Número de Seguridad Social</label>
                <%= f.text_field :Social_Sec, class: "form-control" %>
              </div>
              <div class="form-group">
                <label>Verificado</label>
                <%= f.check_box :Verified, class: "checkbox" %>
              </div>
              <div class="form-group">
                <!-- <label>ID del Empresa</label> -->
                <%= f.text_field :company_id, class: "form-control", type: "hidden" %>
              </div>
              <div class="form-group" style="display:<%= @tokendisplay %>">
                  <label>Chat ID</label>
                  <%= f.text_field :Chat_ID, class: "form-control" %>
              </div>
              <div class="actions">
                <%= f.submit "Guardar Transportista", class: "btn btn-primary" %>
                <a href="<%= company_drivers_path %>" class="page-scroll btn btn-primary">Atrás</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% end %>
