<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shipments</title>
    <link href="<%= asset_path "footable.bootstrap.min.css" %>" rel="stylesheet">
    <link href="<%= asset_path "sidebarcustom.scss" %>" rel="stylesheet">
    <link href="<%= asset_path "themecustom.scss.erb" %>" rel="stylesheet">
    <link href="<%= asset_path "custom.scss.erb" %>" rel="stylesheet">

</head>
<body id="page-top" class="index">
  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <%= render "shared/customsidebar" %>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper ">
    <!-- Navigation -->
    <!-- Header -->
    <header id="customheader">
        <div class="container-fluid">
        <h5 style="text-align:left"><a href="#menu-toggle" id="menu-toggle">Show/Hide Menu</a></h5>
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To TRANSWIZ</div>
                <div class="intro-heading">Manage, track, and communicate with your shipments</div>
                <a href="#manage" class="page-scroll btn btn-xl">Manage Drivers</a>
                <a href="#create" class="page-scroll btn btn-xl">Add Driver</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="manage">
        <div class="container table-responsive">
          <table class="table table-striped table-bordered" data-paging="true" data-filtering="true" data-sorting="true">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Telephone</th>
                <th>Truck No</th>
                <th data-breakpoints="xs sm md lg">Company</th>
                <th data-breakpoints="xs sm md lg">Email</th>
                <th data-breakpoints="xs sm md lg">Social Security No</th>
                <th data-breakpoints="xs sm md lg">Verified</th>
              </tr>
            </thead>
            
            <tbody>
            <% @drivers.each do |driver| %>
              <tr>
                <td><%= driver.First_Name %></td>
                <td><%= driver.Last_Name %></td>
                <td><%= driver.Telephone %></td>
                <td><%= driver.Truck_No %></td>
                <td><%= driver.company_id %></td>
                <td><%= driver.Email %></td>
                <td><%= driver.Social_Sec %></td>
                <td><%= driver.Verified %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
    </section>

    <!-- About Section -->
    <section id="create">
        <div class="container">
          <h3> This is 'about' section. We will show create form here</h3>
          <%= link_to 'New Driver', new_company_driver_path %>
        </div>
    </section>
    </div>
 </div>   
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <%= javascript_include_tag "agency.js" %>
    <%= javascript_include_tag "footable.js" %>
<!-- 
    <script src="/assets/agency.js"></script>
    <script src="/assets/footable.js" type="text/javascript"></script>
 -->
</body>
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
<script type="text/javascript">
  jQuery(function($){
    $('.table').footable();
  });
</script>
</html>
