<%= form_for([@company,@shipment]) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Sub_Shipment %><br>
    <%= f.check_box :Sub_Shipment %>
  </div>
  <div class="field">
    <%= f.label :Parent_Shipment_ID %><br>
    <%= f.number_field :Parent_Shipment_ID %>
  </div>
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.text_field :Status %>
  </div>
  <div class="field">
    <%= f.label :Client_ID %><br>
    <%= f.number_field :Client_ID %>
  </div>
  <div class="field">
    <%= f.label :Client_Name %><br>
    <%= f.text_area :Client_Name %>
  </div>
  <div class="field">
    <%= f.label :Pickup_Location %><br>
    <%= f.text_area :Pickup_Location %>
  </div>
  <div class="field">
    <%= f.label :Pickup_Date %><br>
    <%= f.date_select :Pickup_Date %>
  </div>
  <div class="field">
    <%= f.label :Pickup_Start_Time %><br>
    <%= f.time_select :Pickup_Start_Time %>
  </div>
  <div class="field">
    <%= f.label :Pickup_End_Time %><br>
    <%= f.time_select :Pickup_End_Time %>
  </div>
  <div class="field">
    <%= f.label :Pickup_Gate %><br>
    <%= f.number_field :Pickup_Gate %>
  </div>
  <div class="field">
    <%= f.label :Pickup_Contact_Person %><br>
    <%= f.text_field :Pickup_Contact_Person %>
  </div>
  <div class="field">
    <%= f.label :Pickup_Contact_No %><br>
    <%= f.number_field :Pickup_Contact_No %>
  </div>
  <div class="field">
    <%= f.label :Weight %><br>
    <%= f.number_field :Weight %>
  </div>
  <div class="field">
    <%= f.label :Palletized %><br>
    <%= f.check_box :Palletized %>
  </div>
  <div class="field">
    <%= f.label :No_of_Pallets %><br>
    <%= f.number_field :No_of_Pallets %>
  </div>
  <div class="field">
    <%= f.label :Dropoff_Location %><br>
    <%= f.text_area :Dropoff_Location %>
  </div>
  <div class="field">
    <%= f.label :Dropoff_Date %><br>
    <%= f.date_select :Dropoff_Date %>
  </div>
  <div class="field">
    <%= f.label :Dropoff_Start_Time %><br>
    <%= f.time_select :Dropoff_Start_Time %>
  </div>
  <div class="field">
    <%= f.label :Dropff_End_Time %><br>
    <%= f.time_select :Dropff_End_Time %>
  </div>
  <div class="field">
    <%= f.label :Dropoff_Gate %><br>
    <%= f.number_field :Dropoff_Gate %>
  </div>
  <div class="field">
    <%= f.label :Dropoff_Contact_Person %><br>
    <%= f.text_field :Dropoff_Contact_Person %>
  </div>
  <div class="field">
    <%= f.label :Dropff_Contact_No %><br>
    <%= f.number_field :Dropff_Contact_No %>
  </div>
  <div class="field">
    <%= f.label :Comments %><br>
    <%= f.text_area :Comments %>
  </div>
  <div class="field">
    <%= f.label :Cargo_Type %><br>
    <%= f.text_area :Cargo_Type %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.text_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
