<%= form_for([@company,@shipment]) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse1">Proporciona los detalles del envío (haga clic para mostrar/ocultar información)</a>
      </div>
      <div id="collapse1" class="panel-collapse collapse <%= @infodisplay %>">
        <div class="panel-body">
          <!-- <form role="form"> -->
            <fieldset <%= @editable %>>
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label>Sub-envío: está asociado con otro envío ya creado</label>
                    <%= f.check_box :Sub_Shipment, class: "checkbox" %>
                  </div>
                  <div class="form-group">
                    <label>En caso afirmativo, proporciona el ID del envío asociado</label>
                    <%= f.number_field :Parent_Shipment_ID, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Estado</label>
                    <%= f.select(:Status, options_for_select([['Por asignar','Por asignar'],['Pendiente recogida','Pendiente recogida'],['En tránsito','En tránsito'],['Entregado','Entregado'],['Cerrado','Cerrado'],['Incidencia','Incidencia']]), {},{:class => 'form-control'}) %>
                  </div>
                  <div class="form-group">
                    <label>ID del Cliente (si está disponible)</label>
                    <%= collection_select(:shipment, :Client_ID, @company.clients, :id, :Name, {include_blank: 'Seleccione cliente'} , {:class => 'form-control'}) %>
                  </div>
                  <div class="form-group">
                    <label>Otros (si no es cliente de presentar en el sistema)</label>
                    <%= f.check_box :OtherClient, class: "checkbox" %>
                  </div>
                  <div class="form-group">
                    <label>Nombre del Cliente</label>
                    <%= f.text_area :Client_Name, class: "form-control",disabled: true %>
                  </div>
                  <div class="form-group">
                    <label>Dirección de Recogida</label>
                    <%= f.text_area :Pickup_Location, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Fecha de Recogida</label>
                    <%= f.date_select :Pickup_Date, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Hora inicio de Recogida</label>
                    <%= f.time_select :Pickup_Start_Time, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Hora límite de Recogida</label>
                    <%= f.time_select :Pickup_End_Time, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Puerta de recogida</label>
                    <%= f.number_field :Pickup_Gate, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Nombre de Contacto en Recogida</label>
                    <%= f.text_field :Pickup_Contact_Person, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Número de Contacto en Recogida</label>
                    <%= f.number_field :Pickup_Contact_No, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <!-- <label>ID del Empresa</label> -->
                    <%= f.text_field :company_id, class: "form-control", type: "hidden" %>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label>Peso del Envío</label>
                    <%= f.number_field :Weight, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Volumen</label>
                    <%= f.number_field :Volume, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Paletizado?</label>
                    <%= f.check_box :Palletized, class: "checkbox" %>
                  </div>
                  <div class="form-group">
                    <label>En caso afirmativo, Número de palets?</label>
                    <%= f.number_field :No_of_Pallets, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Dirección de Entrega</label>
                    <%= f.text_area :Dropoff_Location, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Fecha de Entrega</label>
                    <%= f.date_select :Dropoff_Date, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Hora inicio de Entrega</label>
                    <%= f.time_select :Dropoff_Start_Time, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Hora límite de Entrega</label>
                    <%= f.time_select :Dropff_End_Time, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Puerta de Entrega</label>
                    <%= f.number_field :Dropoff_Gate, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Nombre de Contacto en Entrega</label>
                    <%= f.text_field :Dropoff_Contact_Person, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Número de Contacto en Entrega</label>
                    <%= f.number_field :Dropff_Contact_No, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Comentarios adicionales</label>
                    <%= f.text_area :Comments, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <label>Tipo de carga</label>
                    <%= f.text_area :Cargo_Type, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row" style="display: <%= @allocdisplay%>; border: 1px solid #00c4db; margin: 5px" id="allocdetails">
                <div class="col-lg-12 col-sm-12">
                  <h3>Detalles de asignación</h3>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <label>Tipo de vehículo</label>
                      <%= f.text_field :Allocated_Truck_Type, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <label>Asignado a</label>
                      <%= f.select(:Assigned_To, options_for_select([['Transportista','Transportista'],['Empresa','Empresa']]), {},{:class => 'form-control'}) %>
                    </div>
                    <div class="form-group">
                      <label>ID de la empresa, si asignado a empresa</label>
                      <%= f.text_field :Allocated_Company_ID, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <label>ID del transportista</label>
                      <%= collection_select(:shipment, :driver_id, @company.drivers, :id, :full_name, {}, {:class => 'form-control'}) %>
                    </div>
                    <div class="form-group">
                      <label>Fecha de asignación</label>
                      <%= f.date_select :Allocation_Date, class: "form-control" %>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                    <label>Otros (si no es transportista de presentar en el sistema)</label>
                    <%= f.check_box :OtherDriver, class: "checkbox" %>
                    </div>
                    <div class="form-group">
                      <label>Nombre de Transportista</label>
                      <%= f.text_field :Driver_Name, class: "form-control",disabled: true %>
                    </div>
                    <div class="form-group">
                      <label>Persona de Contacto</label>
                      <%= f.text_field :Allocated_Contact_Person, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <label>Número de contacto</label>
                      <%= f.number_field :Allocated_Contact_No, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <label>Asignado por</label>
                      <%= f.text_field :Allocated_By, class: "form-control" %>
                    </div>
                  </div>
              </div>
            </fieldset>

          <!-- </form> -->
        </div>
        <div class="panel-footer" style="display: <%= @footerdisplay %>">
          <div class="row">
              <div class="col-lg-12">
                <div class="actions text-center">
                <%= f.submit "Guardar Envío", class: "btn btn-primary" %>
                <%= render 'back' %>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
