<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>View Shipment Details</title>
</head>

<body>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-11">
            <h1 class="page-header">Detalles del envío</h1>
          </div>
          <div class="col-md-1 page-header">
            <%= render 'back' %>
          </div>
        </div>
        
        <% @infodisplay="" %>
        <% @allocdisplay=""%>
        <% @footerdisplay="none"%>
        <% @editable="disabled"%>
        <% @messagedisplay="inherit"%>
        
        <%= render 'form' %>
        <%= form_for @shipment, url: {action: "message"}, method: :post do |ff| %>
        <div class="row" style="display: <%= @messagedisplay %>">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group text-center">
            <h4 id="notice" style="color:green"><%= notice %></h4>
            <%= ff.text_area :Chat_Message, class: "form-control", placeholder: "Entre su mensaje" %><br>
            <%= ff.submit "Enviar Mensaje", class: "btn btn-primary" %>
            <a href="<%= company_shipments_path %>" class="btn btn-primary">Atrás</a>
            <%= link_to 'Ver conversación', @chaturl , :target => "_blank", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        <% end %>
<!--         <div class="container-fluid">
          <iframe src="https://web.telegram.org/" width="100%" height="100%"></iframe>
        </div> -->
      </div>
    </div>
</body>
</html>
